@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --OpenSans: "Open Sans", sans-serif;
  --ancho: 1440px;
  --color-verde: hsl(154, 62%, 49%);
  --color-degradado: linear-gradient(#35d48f, #31a6b3);
  --verde-agua: hsl(158, 60%, 47%);
  --plomo-claro: hsl(0, 0%, 98%);
  --color-azul-oscuro: hsl(228, 39%, 23%);
  --color-azul-claro: hsl(227, 12%, 61%);
  --color-blanco: hsl(0, 33%, 98%);
}

body {
  font-family: var(--OpenSans);
  background-image: url("./../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: calc(700%);
  background-position-y: -200px;
  object-fit: cover;
}
.menu{
  border: none;
  display: none;
}

.btn__started {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn__started-left {
  justify-content: flex-start;
}

.btn__started > button {
  border: none;
  outline: none;
  background: var(--color-degradado);
  color: var(--plomo-claro);
  width: 150px;
  height: 40px;
  border-radius: 30px;
}

.btn__started > button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*Header*/
.header {
  max-width: var(--ancho);
  display: flex;
  margin: 0 auto;
  height: 60px;
  padding: 35px 150px;
  background: var(--color-blanco);
}

.header__lista {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.header__item {
  padding: 0 20px;
}

.header__link:hover {
  border-bottom: 3px solid var(--verde-agua);
}

.header__link {
  padding: 20px 0;
  text-decoration: none;
  color: var(--color-azul-claro);
}

.header__logo {
  width: 200px;
  display: flex;
  align-items: center;
}

.header__nav {
  flex: 1;
  display: flex;
}

/*Main*/

.principal {
  max-width: var(--ancho);
  display: flex;
  margin: -80px auto 0 auto;
  flex-wrap: wrap;
  overflow: hidden;
}

.seccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 250px 0 120px 0;
  width: 50%;
  padding-left: 150px;
}

.seccion1 > * {
  margin-bottom: 40px;
}

.seccion1__titulo {
  color: var(--color-azul-oscuro);
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 4rem;
}

.seccion1__parrafo {
  color: var(--color-azul-claro);
  width: 70%;
}

.seccion2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding-right: 150px;
  position: relative;
  z-index: -1;
}

.seccion2 img {
  width: 110%;
  position: absolute;
  left: 60px;
  top: -45px;
  z-index: -1;
}

.section__easybank {
  background-color: #eeeff1;
  padding: 0 150px;
  z-index: -2;
}

.seccion3 {
  width: 100%;
  margin-top: 80px;
  border: 1px;
  margin-bottom: 50px;
}

.seccion3 > * {
  margin-bottom: 20px;
}

.seccion3__titulo {
  color: var(--color-azul-oscuro);
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 4.7rem;
}

.seccion3__parrafo {
  color: var(--color-azul-claro);
  width: 50%;
  line-height: 1.8rem;
}

.seccion4 {
  margin-bottom: 80px;
  display: flex;
}

.seccion4__group {
  width: 25%;
  padding-right: 25px;
}

.seccion4__imagen {
  margin-bottom: 40px;
}

.seccion4__texto > * {
  margin-bottom: 20px;
}

.seccion4__titulo {
  color: var(--color-azul-oscuro);
}

.seccion4__parrafo {
  color: var(--color-azul-claro);
}

.seccion4__group:last-child {
  padding-right: 0px;
}

.latest {
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 150px;
}

.latest__titulo {
  color: var(--color-azul-oscuro);
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 4.7rem;
  margin-bottom: 15px;
}

.latest__group {
  display: flex;
}

.latest__person {
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #eeeff1;
  border-radius: 0.5rem 0.5rem 0 0;
}

.latest__person:first-child {
  padding-left: 0;
  margin-left: 0;
}

.latest__person:last-child {
  padding-right: 0;
  margin-right: 0;
}

.latest__imagen img {
  width: 100%;
  height: 200px;
  margin-top: 0px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 25px;
}

.latest__texto * {
  margin-bottom: 15px;
}

.latest__texto {
  padding: 0 30px;
}

.latest__texto-titulo {
  color: var(--color-azul-oscuro);
  font-size: 1.1rem;
}

.latest__texto-titulo:hover {
  color: var(--verde-agua);
  cursor: pointer;
}

.latest__texto-parrafo {
  color: var(--color-azul-claro);
  font-size: 0.8rem;
}

.latest__autor {
  font-size: 0.7rem;
}

/*<----Footer---->*/

.footer {
  max-width: var(--ancho);
  background-color: #352f54;
  padding: 40px 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.footer__logo > img {
  width: 60%;
}

.footer__redes {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer__redes a:hover {
  color: red;
}

.footer__group {
  flex: 2;
}

.footer__lista {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  width: 35%;
  padding: 5px 0;
}

.footer__link {
  text-decoration: none;
  color: var(--color-azul-claro);
}
.footer__link:hover {
  color: var(--verde-agua);
  cursor: pointer;
}

.footer__end {
  flex: 1;
  color: var(--color-azul-claro);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__text {
  font-size: 0.8rem;
}

/* ----- MAIN -----*/

@media screen and (max-width: 1440px) {
  .principal {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .seccion1__parrafo,
  .seccion3__parrafo {
    width: 80%;
  }
  .seccion4__texto {
    padding: 8px 40px 8px 20px;
  }
}

@media screen and (max-width: 950px) {
  .principal {
    flex-direction: column;
  }
  .principal section {
    width: 100%;
  }
  .seccion1 {
    order: 2;
    text-align: center;
  }
}

@media screen and (max-width: 720px) {
  .principal {
    padding: 0 20px;
  }
}

@media screen and (max-width: 380px) {

  body {
    background-image: url("./../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100%);
    background-position-y: -20px;
    object-fit: cover;
  }

  .header {
    padding: 0 30px;
    align-items: center;
  }
.menu{
  display: flex;
  margin-left: 150px;
}
  button#menu:focus + nav#superior{
    display: block;
  }

  nav#superior ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav#superior ul a {
    display: block;
    width: 8em;
    text-decoration: none;
    border: 1px solid #BE353D;
    padding: 30px 0;
    text-align: center;
    color: #FA453B;
    background: #EF8E76;
    transition: 1s all;
}

nav#superior li{
  width: 100%;
}

nav#superior ul a:hover {
    background: #ec7b5f;
}
button#menu {
  display: block;
}
nav#superior {
  display: none;
}
nav#superior ul {
  flex-direction: column;
}

  .header__lista,
  .btn__started {
    display: none;
  }
  .principal {
    display: flex;
    padding: 0;
  }

  .seccion1 {
    order: 2;
    padding: 0;
    margin-top: 470px;
    margin-bottom: 80px;
  }

  .seccion1 > * {
    margin: 0;
  }
  .seccion1__titulo {
    font-size: 2.7rem;
    padding: 20px 0;
    line-height: 3.2rem;
    letter-spacing: -1px;
  }

  .seccion1__parrafo {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 5px 20px;
  }

  .seccion2 {
    max-width: 375px;
    order: 1;
    width: 100%;
    margin: -40px 25px;
  }

  .seccion2 img {
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .section__easybank {
    order: 3;
    padding: 0 30px;
  }

  .seccion3 {
    margin: 50px 0;
    text-align: center;
  }

  .seccion3__titulo {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: -1px;
  }

  .seccion4 {
    flex-direction: column;
    margin-bottom: 0;
  }

  .seccion4__group {
    width: 100%;
    text-align: center;
    padding-right: 30px;
  }

  .seccion4__imagen {
    margin: 0;
  }

  .seccion4__group:last-child {
    padding-right: 30px;
  }

  .latest {
    order: 4;
    margin: 40px 0;
    padding: 0 30px;
    justify-content: center;
  }

  .latest__group {
    flex-direction: column;
  }
  .latest__group > div {
    margin-bottom: 40px;
  }

  .latest__person {
    margin: 0;
  }

  .footer {
    padding: 30px 30px 0;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    align-content: center;
    align-items: center;
  }

  .footer__logo > div {
    width: 120%;
    margin: 35px 0;
  }
  .footer__logo img {
    width: 100%;
  }

  .footer__lista {
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    align-content: center;
  }

  .footer__link{
    color: var(--color-blanco);
    margin: 55px 0;
  }

  .footer__item {
    width: 100%;
    margin: 5px;
  }

  .footer__end{
    display: flex;   
    align-items: center; 
    margin: 30px 0;
  }

  .footer__end *{
    margin-bottom: 30px;    
  }
  
  
}
